h1{
    border: thin solid;
    padding: 0.25em;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
    text-align: center;
    background: grey;
}
h2{
    color:black;
}


#container {
    margin-left: auto;
    margin-right:auto;
    width: 950px;
}
#header {
    width: 950px;
    height: 150px;
    background: grey;
}
/* --- Kommentar ---
die Box #navigation wird vom nachfolgenden Element (#content) umflossen ---- */
#navigation {
    width: 200px;
    float: left;
}
#content {
    width: 750px;
    min-height: 800px;
    margin-left: 200px;
}
#footer {
    width: 950px;
    height: 80px;
}

